<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="~{AdminTopBar :: Admintopbar}"></th:block>
<div id="layoutSidenav">
  <th:block th:replace="AdminSideBar :: AdminsideBar"></th:block>

  <div id="layoutSidenav_content">
    <main>
      <form th:action="@{/admin/add} " th:object="${sanPham}" method="post">
        <div class="col-6 mb-3">
          <label for="title" class="form-label">Tên Sản phẩm:</label>
          <input type="text" class="form-control" id="title" th:field="*{tenSP}">
        </div>list
        <div class="col-6 mb-3">
          <label for="author" class="form-label">Đơn Giá:</label>
          <input type="text" class="form-control" id="author" th:field="*{donGia}">
        </div>
        <div class="col-6 mb-3">
          <label for="price" class="form-label">hình ảnh:</label>
          <input type="text" class="form-control" id="price" th:field="*{hinhAnh}">
        </div>
        <div class="col-6 mb-3">
          <label for="category" class="form-label">Loại Sản Phẩm:</label>
          <select class="form-control" id="category" name="loaisp.maLoai">
            <option value="">--Select Category</option>
            <option th:each="loaisp :${LoaiSp}" th:value="${loaisp.maLoai}"
                    th:text="${loaisp.tenLoai}"></option>
          </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
      </form>
    </main>
    <th:block th:replace="FooterAdmin :: FooterAdmin"></th:block>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
