<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <th:block th:replace="Layout :: link-libraries-icon"></th:block>
  <th:block th:replace="Layout :: link-libraries"></th:block>
  <th:block th:replace="Layout :: link-bootstrap"></th:block>
  <th:block th:replace="Layout :: link-css"></th:block>
</head>
<body>
<nav th:fragment="AboutUs">
  <div class="container-fluid py-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100 rounded" src="img/bannerProductHair.jpeg" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="border-start border-5 border-primary ps-5 mb-5">
          <h6 class="text-primary text-uppercase">About Us</h6>
          <h1 class="display-5 text-uppercase mb-0">We Keep Your Hair Happy All Time</h1>
        </div>
        <h4 class="text-body mb-4">Diam dolor diam ipsum tempor sit. Clita erat ipsum et lorem stet no labore lorem sit clita duo justo magna dolore</h4>
        <div class="bg-light p-4">
          <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
            <li class="nav-item w-50" role="presentation">
              <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                      data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                      aria-selected="true">Our Mission</button>
            </li>
            <li class="nav-item w-50" role="presentation">
              <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                      data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                      aria-selected="false">Our Vission</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
              <p class="mb-0">Chúng tôi sẽ đưa ra những sản phẩm tốt nhất dành cho tóc và mặt.</p>
            </div>
            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
              <p class="mb-0">Chúng tôi sẽ cố gắng đưa những thứ tốt nhất cho mọi người và sẽ ra mắt nhiều chi nhánh mới nhất.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
</body>
</html>